.btn {
  height: 40px;
  background-color: rebeccapurple;
  margin-bottom: 10px;
  border-radius: 18px;
  padding: 5px;
  text-align: center;
  display: flex;

  div {
    margin: auto;
  }
}

:host {
  width: 49%;
}
