.kasko_dialog_wrapper {
  height: 90%;
  width: 70%;
  margin: 0 auto;

  .dialog {
    width: 75%;
    height: 90%;
    background-color: skyblue;
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .buttons_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: auto;
  }
}
